{% load navigation_tags wagtailcore_tags wagtailsettings_tags svg %}

{% get_settings %}

{% widthratio menuitems|length 2 1 as midpoint %}

{% for menuitem in menuitems %}
    <li class="flex">
        <a href="{% pageurl menuitem %}" class="flex items-center text-lg px-4 -mb-1 border-b-2 dark:border-transparent{% if menuitem.active %} active{% endif %}">{{ menuitem.title|capfirst|cut:" " }}</a>
    </li>
    {% if forloop.counter == midpoint|add:"0" or menuitems|length == 1 %} 

    <!-- Logotipo -->
    <li class="hidden md:block px-12">
        <a href="/" aria-label="Back to homepage">
            <div class="w-8 h-8">
            {% if settings.base.Logo.logo %}
                {% svg settings.base.Logo.logo.filename|cut:".svg" %}
            {% endif %}
            </div>
        </a>
    </li>
    {% endif %}

{% endfor %}
