{% extends "base.html" %}
{% load wagtailcore_tags custom_tags static svg%}

{% block extra_css %}

{% endblock extra_css %}

{% block body_class %}
dark:bg-secondary dark:text-gray-200
{% endblock body_class %}

{% block header %}
{% include "parts/header.html" with class="dark:bg-gray-800 sticky top-0" %}
{% endblock header %}


{% block content %}
<section class="sm:px-4 px-2 mx-auto rounded-lg md:grid-cols-2 md:px-12 lg:px-16 xl:px-32 dark:text-gray-100">
    <div class="md:container max-w-xl py-8 mx-auto lg:px-8 lg:max-w-7xl">
        <h1 class="text-center sm:text-5xl text-primary">
        {% if self.subtitle %}
            {{ self.subtitle|upper }}
        {% else %}
            {{ self.title|upper }}
        {% endif %}
        </h1>
        <h2 class="font-sans text-2xl max-w-5xl mx-auto mt-4 text-center dark:text-gray-100">
            {% if page.body %}
            {{ page.body }}
            {% endif %}
        </h2>
	</div>

    <form id="formReservas" class="frameCard pt-52" action="{% pageurl page %}" method="POST" >
        {% csrf_token %}
        {{ form.as_ul }}
        <button type="submit" >
            Realizar Reserva
        </button>
    </form>
</section>
{% endblock content %}

{% block extra_js %}
<script>
var fechas = Array()
{% for key, value in results.items %}
    {% if key == 'Fecha' %}
        {% for fecha in value %}
        fechas.push(new Date({{fecha|fechas_datepicker}}));
        {% endfor %}
    {%endif%}
{% endfor %} 
</script>

<script type="text/javascript" src="{% static 'js/booking.js' %}"></script>

{% endblock extra_js %}    
