@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    h1 {
        @apply text-5xl font-bold font-SecularOne
    }
    h2 {
        @apply text-4xl font-SecularOne
    }
    h3 {
        @apply text-2xl font-semibold
    }
    p {
        @apply text-xl 
    }
    html {
        @apply font-sans
    }

    form li {
        @apply mb-6 list-none 
    }
    form label {
        @apply block mb-2 text-base font-medium text-gray-900 dark:text-gray-300 uppercase
    }
    form input {
        @apply  bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-primary-light focus:border-primary-light block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
    }
    form span {
        @apply  mt-2 text-sm dark:text-gray-500 
    }
    form button {
        @apply inline-block w-full px-5 py-3 font-semibold tracking-wider text-center rounded-lg dark:bg-primary-light dark:text-gray-900 uppercase
    }
    form select {
        @apply  bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-primary-light focus:border-primary-light block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
    }
    main, footer {
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
}

.qs-centered {
    @apply !transform !-translate-x-1/2 !-translate-y-[16rem] md:!-translate-y-[17rem]
    
}

.qs-datepicker-container {
    @apply !font-sans md:!text-2xl
}

#formReservas  {
    @apply pt-64 md:pt-80 max-w-lg mx-auto
}

.errorlist > li {
    @apply mb-0 text-red-500
}


@layer components {

#menu {
    @apply 
    absolute top-0 right-0 md:relative
    bg-gray-800
    w-60 md:w-full 
    h-screen md:h-20 
    mx-auto
    flex flex-col md:flex-row 
    md:justify-center
    items-center
    pt-32 md:pt-0 
}


#list_serv div > div > p  {
    @apply mt-3
}

#list_serv div > div > ul > li {
    @apply ml-6 list-disc text-lg mt-1
}

.serviciosHover {
    @apply transition duration-500 hover:scale-105 hover:brightness-100
}

.filtro {
    @apply grayscale-[30%] brightness-50
}

.centrear {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
}

.active {
    @apply dark:text-primary dark:border-primary
}

.titulos {
    @apply font-SecularOne font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-4xl md:text-5xl text-center leading-none uppercase
    }

.imgBanner {
    @apply absolute bg-cover bg-center bg-no-repeat h-full w-full
    }

.posDesc {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2
    }    
}

.sombraBlanca {
    -webkit-filter: drop-shadow(3px 3px 2px rgba(255, 255, 255, .8));
    filter: drop-shadow(3px 3px 2px rgba(255, 255, 255, .8));
  }

.sombra-x2 {
    -webkit-filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, .7));
    filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, .7));
  }

.sombraBlanca-x2 {
    -webkit-filter: drop-shadow(6px 6px 4px rgba(255, 255, 255, .7));
    filter: drop-shadow(6px 6px 4px rgba(255, 255, 255, .7));
  }

.img-layer--1 {
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: luminosity;
}

.img-layer--2 {
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
    animation: blinking 0.3s ease-out infinite, glitch-anim-horizontal 5s linear infinite alternate;
}

.img-layer--3 {
    background-color: rgba(255, 255, 255, 0.08);
    background-blend-mode: overlay;
    animation: glitch-anim-horizontal 2s linear infinite alternate;
}

.img-layer--4 {
    background-color: rgba(255, 255, 255, 0.02);
    background-blend-mode: overlay;
    animation: glitch-anim-horizontal 0.8s ease infinite alternate;
}

.img-layer--5 {
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: overlay;
    clip-path: polygon(0 0, 0 1%, 100% 1%, 100% 0);
    animation: blinking 1s linear infinite, glitch-anim-vertical 3s ease infinite alternate;
}

.img-layer--6 {
    background-color: white;
    background-blend-mode: luminosity;
    animation: blinking 0.8s linear infinite, glitch-anim-right 5s linear infinite;
}

.img-layer--7 {
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    animation: blinking 0.8s 1.4s linear infinite, glitch-anim-left 5s linear infinite;
}

@keyframes blinking {
    0% {
        opacity: 0.25;
    }

    70%,
    100% {
        opacity: 0;
    }
}

@keyframes glitch-anim-right {
    to {
        left: 8%;
        top: -3%;
    }
}

@keyframes glitch-anim-left {
    to {
        right: 8%;
        bottom: -1%;
    }
}

@keyframes glitch-anim-horizontal {
    0% {
        clip-path: polygon(0 0, 0 100%, 2% 100%, 2% 0);
    }

    10% {
        clip-path: polygon(35% 0, 35% 100%, 37% 100%, 37% 0);
    }

    25% {
        clip-path: polygon(25% 0, 25% 100%, 27% 100%, 27% 0);
    }

    40% {
        clip-path: polygon(35% 0, 35% 100%, 37% 100%, 37% 0);
    }

    50% {
        clip-path: polygon(75% 0, 75% 100%, 77% 100%, 77% 0);
    }

    60% {
        clip-path: polygon(65% 0, 65% 100%, 67% 100%, 67% 0);
    }

    75% {
        clip-path: polygon(35% 0, 35% 100%, 37% 100%, 37% 0);
    }

    85% {
        clip-path: polygon(85% 0, 85% 100%, 87% 100%, 87% 0);
    }

    100% {
        clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 0);
    }
}

@keyframes glitch-anim-vertical {
    0% {
        clip-path: polygon(0 0, 0 1%, 100% 1%, 100% 0);
    }

    10% {
        clip-path: polygon(0 20%, 0 21%, 100% 21%, 100% 20%);
    }

    25% {
        clip-path: polygon(0 75%, 0 76%, 100% 76%, 100% 75%);
    }

    40% {
        clip-path: polygon(0 40%, 0 41%, 100% 41%, 100% 40%);
    }

    50% {
        clip-path: polygon(0 90%, 0 91%, 100% 91%, 100% 90%);
    }

    60% {
        clip-path: polygon(0 80%, 0 85%, 100% 85%, 100% 80%);
    }

    75% {
        clip-path: polygon(0 32%, 0 33%, 100% 33%, 100% 32%);
    }

    85% {
        clip-path: polygon(0 65%, 0 66%, 100% 66%, 100% 65%);
    }

    100% {
        clip-path: polygon(0 35%, 0 50%, 100% 50%, 100% 35%);
    }
}

.responsive-object {
    @apply relative
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    @apply absolute top-0 left-0 w-full h-full
}

body {
    @apply overflow-x-hidden;
    -webkit-perspective: 2500px;
	perspective: 2500px;
}

.effect3d {
    @apply opacity-70;
    transform-style: preserve-3d;  
    -webkit-transform: translate3d(0, 0, -100px) rotateY(20deg);
	transform: translate3d(0, 0, -100px) rotateY(20deg);
}


